body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

li {
  width: 290px;
  display: flex;  
  justify-content: space-between;
}

p {
  margin: 0;
  width: 215px;
  display: flex;  
  justify-content: space-between;
}

.notDone {
  color: red;
  margin: 0;
}



